.container {
    min-height: 100vh;
    /*padding: 0 0.5rem;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.topnav {
    overflow: hidden;
    background-color: #222222;
    position: fixed;
      top: 0;
      width: 100%;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }